Social Craft AI n8n workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        16
      ],
      "id": "6743e1ef-28e6-4928-9d30-33df0d036552",
      "name": "Webhook",
      "webhookId": "0233b01a-bdd7-4f6e-a471-3e00bc7c7faa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.topic }}",
        "options": {
          "systemMessage": "You are a social media content creator. \nWhen given a topic, you MUST generate exactly this JSON structure and nothing else:\n\n{\n  \"linkedin\": \"professional post about the topic (2-3 paragraphs with hashtags)\",\n  \"instagram\": \"casual fun post about the topic (short with emojis and hashtags)\"\n}\n\nReturn only valid JSON. No explanation. No markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        16
      ],
      "id": "38637d75-3480-4ec5-b7d6-333153700920",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        128
      ],
      "id": "622326da-7cd2-4cb7-b05d-ebe669ecbada",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        256
      ],
      "id": "dbd03f82-56b8-403c-98db-0aee22de220a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "JTsRqF0ByuZuu0sp",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    linkedin: parsed.linkedin,\n    instagram: parsed.instagram\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "d48c1c68-5c72-4557-9ce5-af14d29c4f91",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "74e65ea6-e59e-4438-9e40-c9418b55b852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2bf26390954f798e601196b84dfa1add595575e427a63d4cabd3cf4dd15a785"
  },
  "id": "uh6GicNufJVda8aW",
  "tags": []
}